body {
  background-color: #ecf0f3;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  background-color: #ecf0f3;
  color: #333;
  font-size: 22px;
  opacity: 0.9;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 25px;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow:
    5px 5px 10px #717375,
    -5px -5px 10px #fff;
  text-align: center;
}

h2 {
  color: #333;
  font-size: 10px;
  opacity: 0.5;
  text-transform: uppercase;
  padding-top: 30px;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 170px 5px 70px;
}

p {
  color: #333;
  font-size: 15px;
  margin: 15px 20px;
  text-align: center;
  display: inline-block;
}

img {
  /* Safari 6.0 - 9.0 */
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

/* Header */
#navbar_top {
  animation: fadeInDown;
  animation-duration: 2s;
  background-color: #ecf0f3;
  border-radius: 30px;
  box-shadow:
    10px 10px 20px #acafb1,
    -10px -10px 20px #fff;
  max-height: 110px;
  margin: 25px 20px 0;
  padding-top: 20px;
}

.navbar-logo {
  min-width: 230px;
  max-width: 340px;
}

.navbar-item {
  min-width: 100px;
  max-width: 100px;
}

/* Footer Search */
#navbar_bottom {
  animation: fadeInDown;
  animation-duration: 2s;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow:
    10px 10px 20px #acafb1,
    -10px -10px 20px #fff;
  margin: 0 20px 20px 25%;
}

.form-control {
  background-color: #ecf0f3;
  border: none;
  box-shadow: none;
  border-radius: 15px;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
  background-color: #e6edf3;
  opacity: 0.8;
  color: #333;
}

/* Grid Button */
.btn-block {
  animation: fadeInUp;
  animation-duration: 2s;
  border-radius: 12px;
  letter-spacing: 3px;
  box-shadow:
    5px 5px 10px #c6cacc,
    -5px -5px 10px #fff;
  color: rgba(51, 51, 51, 0.5);
  padding: 30px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #e6edf3;
  color: rgba(51, 51, 51, 1);
  box-shadow:
    inset 5px 5px 10px #c6cacc,
    inset -5px -5px 10px #fdffff;
}

/* to remove the ugly blue outline when Button active */
.btn:active,
.btn:focus {
  outline-color: transparent;
  box-shadow:
    5px 5px 10px #c6cacc,
    -5px -5px 10px #fff;
}

.btn:active:hover,
.btn:focus:hover {
  outline-color: transparent;
  box-shadow:
    inset 5px 5px 10px #c6cacc,
    inset -5px -5px 10px #fdffff;
}

/* Modal, belongs to: function showModal(pokemon) */
.close {
  color: #333;
  font-size: 20px;
  position: relative;
  top: -35px;
  right: -35px;
  padding: 20px;
}

.close:hover {
  color: #e4646d;
}

.close:focus,
.close:active {
  outline: none !important;
}

.modal {
  background-color: #ecf0f3;
}

.modal-content {
  background-color: transparent;
  border: none;
  margin: 0 15px;
}

.modal-body {
  background-color: #e6edf3;
  border-radius: 30px;
  box-shadow:
    inset 5px 5px 10px #717375,
    inset -5px -5px 10px #fff;
  text-align: center;
  padding-bottom: 60px;
}

/* creates the Image animation */
#img-container {
  display: flex;
  height: 200px;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  margin-top: 50px;
}

.image {
  z-index: 999;
}

.image img {
  width: 150px;
}

.image-circle {
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.3);
  width: 250px;
  height: 60px;
  position: absolute;
  top: 110px;
  margin-top: 50px;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  from {
    transform: scale(0.3, 0.3);
    opacity: 0.5;
  }

  to {
    transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

/* disables the second type if undefined */
#undefined {
  display: none;
}

/* colorchange by Pokemon type */
.bug {
  background-color: rgba(116, 146, 81, 0.3);
}

.dragon {
  background-color: rgba(83, 164, 207, 0.3);
}

.electric {
  background-color: rgba(255, 189, 0, 0.3);
}

.fairy {
  background-color: rgba(253, 185, 233, 0.3);
}

.fighting {
  background-color: rgba(213, 103, 34, 0.3);
}

.fire {
  background-color: rgba(255, 61, 61, 0.3);
}

.flying {
  background-color: rgba(141, 219, 243, 0.3);
}

.ghost {
  background-color: rgba(121, 87, 174, 0.3);
}

.grass {
  background-color: rgba(50, 183, 106, 0.3);
}

.ground {
  background-color: rgba(107, 80, 0, 0.3);
}

.ice {
  background-color: rgba(20, 119, 150, 0.3);
}

.poison {
  background-color: rgba(216, 80, 210, 0.3);
}

.psychic {
  background-color: rgba(243, 102, 185, 0.3);
}

.rock {
  background-color: rgba(156, 156, 156, 0.3);
}

.water {
  background-color: rgba(80, 153, 216, 0.3);
}

/* changes the webiste into Darkmode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444;
  }

  h1 {
    background-color: #444;
    box-shadow:
      5px 5px 10px #393939,
      -5px -5px 10px #4f4f4f;
    color: #fff;
  }

  h2 {
    color: #fff;
  }

  p {
    color: #fff;
  }

  img {
    /* Safari 6.0 - 9.0 */
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);
  }

  #navbar_top {
    background-color: #444;
    box-shadow:
      10px 10px 20px #393939,
      -10px -10px 20px #4f4f4f;
  }

  #navbar_bottom {
    background-color: #444;
    box-shadow:
      10px 10px 20px #393939,
      -10px -10px 20px #4f4f4f;
  }

  .form-control {
    background-color: #444;
    border: none;
    box-shadow: none;
    border-radius: 15px;
  }

  .form-control:focus,
  .form-control:active {
    outline: none !important;
    box-shadow: none;
    background-color: #474747;
    opacity: 0.8;
    color: #fff;
  }

  .btn-block {
    background-color: #444;
    box-shadow:
      5px 5px 10px #393939,
      -5px -5px 10px #4f4f4f;
    color: rgba(251, 251, 251, 0.3);
  }

  .btn:hover {
    background-color: #474747;
    box-shadow:
      inset 5px 5px 10px #393939,
      inset -5px -5px 10px #4f4f4f;
    color: rgba(251, 251, 251, 0.7);
  }

  .btn:active,
  .btn:focus {
    outline-color: transparent;
    box-shadow:
      5px 5px 10px #393939,
      -5px -5px 10px #4f4f4f;
  }

  .btn:active:hover,
  .btn:focus:hover {
    outline-color: transparent;
    box-shadow:
      inset 5px 5px 10px #393939,
      inset -5px -5px 10px #4f4f4f;
  }

  .modal {
    background-color: #444;
  }

  .modal-body {
    background-color: #474747;
    border-radius: 30px;
    box-shadow:
      inset 5px 5px 10px #393939,
      inset -5px -5px 10px #4f4f4f;
    text-align: center;
    padding-bottom: 60px;
  }
}
